.row{
    color: white;
    margin-right: 20px;
}

.row_posters{
    display: flex;
    overflow-y: scroll;
    overflow-x: scroll;
    padding: 20px;
    
}

.row_posters::-webkit-scrollbar{
    display: none;

}

.row_poster{
    object-fit: contain;
    width: 100%;
    max-height: 250px;
    margin-right: 15px;
    transition: transform 450ms;
   
    
}
.row_poster:hover{
    outline: 0.3rem solid white; 
    transform: scale(1.08);
}

h1{
    margin-top: 1rem;
}