.nav {
  display: flex;
  position: fixed;
  height: 30px;
  width: 100%;
  justify-content: space-between;
}

.nav_logo{
    /* object-fit: contain;
    width: 80px; */
}

.nav_profile{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    background-color: teal;
}
p{
    position: absolute;
    margin-left: 5rem;
    color: white;
    font-size: 1rem;
    font-weight: 5rem;
    transform: translate(-50%,-30%);

    }
