.nav {
  display: flex;
  position: fixed;
  height: 30px;
  width: 100%;
  justify-content: space-between;
}

.nav_logo{
    /* object-fit: contain;
    width: 80px; */
}

.nav_profile{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: teal;
}
p{
    position: absolute;
    color: white;
    font-size: 3rem;
    font-weight: 10rem;
    margin-left: 40rem;
    top:90%;
    left: 50%;
    transform: translate(-60%,-50%);

    }

    
